/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 21, 2017, 12:05:05 AM
    Author     : Vu Manh Ha
*/
body {
    margin: 0px;
    font-family: arial,sans-serif;
    font-size: 13px;
    background-image:url("../images/background.jpg");
}

#headerPart {
    padding: 10px;
    height: 40px;
    text-align: center;
    background: linear-gradient(to right, rgba(255,0,0,0.5), rgba(0,255,0,0.5), rgba(0,0,255,0.5));
}

#bodyPart {
}

#footerPart {
    padding: 10px;
    height: 30px;
    background-color: rgba(255,255,255,0.6);
    font-family: arial;
    font-size: 12px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
}

.title {
    width: 200px;
    height: 150px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    display: inline-block;
    margin: 10px;
    cursor: hand;
}

.title div {
    color:white;
    font-size: 15px;
}

.iconInTitle {
    color:white;
    margin: 20px;
}

.box {
    width: 300px;
    border:1px solid gray;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    background-color: rgba(236,247,251,0.5);
    border-radius: 5px;
    margin: auto;
    padding: 10px;
}

.box input {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 10px;
    height: 30px;
    color:black;
}

.box div {
    color:#4285f4;
}

.box label {
    color:#092D4C;
    font-weight: bold;
}

button {
    display: inline-block;
    padding: 2px 5px 2px 5px;
    margin: 0.2em;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;    display: inline-block;
    padding: 2px 5px 2px 5px;
    margin: 0.2em;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

button img {
    vertical-align: middle;
}

.default {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.default:focus,
.default.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
.default:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.danger:active{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.danger:focus{
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
}

.negative {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.negative:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}

.negative:active{
    border: none;
}

.negative:focus{
    color: #fff;
    background-color: #c9302c;
    border-color: #761c19;
}

.errorMessage {
    color:red !important;
    font-weight: bold;
    margin-bottom: 10px;
}

.function {
    width: 150px;
    height: 80px;
    float: left;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    color: #eee;
}

.function img {
    width: 60px;
}

.brown {
    background-color: brown;
}

.violet {
    background-color: blueviolet;
}

.crimson {
    background-color: rgba(237, 20, 61, 0.5);
}

.dimgray {
    background-color: dimgray;
}

.taskbar {
    height: 50px;
    width: 100%;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    bottom: 0px;
}

.taskbar div {
    height: 40px;
    width: 50px;
    border: 1px solid rgba(2,2,2,0.5);
    text-align: center;
    border-radius: 3px;
    float: left;
    overflow: hidden;
    padding-top:3px;
    margin:3px;
    background-color: rgba(255,255,255,0.5);
}

.taskbar img {
    width: 35px;
}